<div class="row">
    &nbsp;
</div>


<div class="row">
    <div class="col col-xs-10">
        <h1>
            {{weather.description}}
        </h1>
    </div>
    <div class="col col-xs-2">
        <button class="btn btn-success pull-right" ng-click="updateWeather();">
            Update weather
        </button>
    </div>
</div>
<div class="row">
    <div class="col col-xs-12">
        <h3>
            Current Weather
        </h3>
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <img src="{{weatherImg}}" class="pull-left">

        {{weather.item.condition.date}} <br/>
        {{weather.item.condition.text}} - {{celsius}}&#8451;

        <br/><br/><br/>
    </div>
</div>

<table class="table table-bordered">
    <caption>
        Forecast for the rest of the week
    </caption>
    <tr>
        <td ng-repeat="i in weather.item.forecast">
            <h4>{{i.day}} {{i.date}} </h4>
            {{i.text}} <br>
            Highs of {{i.high}}&deg;F <br/>
            Lows of {{i.low}}&deg;F</td>
    </tr>
</table>

<p>
    For detailed information about the weather go to
    <a href="{{weather.link}}" target="_blank">Yahoo! Weather</a>.
</p>

<p>Last updated - {{created}}</p>
